

<div class="row">
    <div class="col-lg-6 col-md-12">

        <h1><span class="glyphicon glyphicon-info-sign"></span> About DemTech </h1>
        <p>
            Computers are gradually replacing the manual parts of the electoral
            process. For instance, information technology is used in many countries
            for registering voters, maintaining the electoral roll, casting votes, tallying
            results and computing seat assignments to parties in parliament. Politicians
            and administrators often advocate the use of technology with the aim to
            make the electoral process more efficient, informative and economical.
        </p>
        <p>
            However, software systems are complex, prone to programming error, and
            are vulnerable to malicious attacks. If not addressed early, <em>these problems will
            have a negative effect on the very foundations of democracy</em>.
        </p>
    </div>
    <div class="col-lg-6 col-md-12">
        <br>
        <img class="img-responsive" src="../img/demtech.png" alt="DemTech">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-6 col md-6">
        <h1><span class="glyphicon glyphicon-search"></span> The Demtech Vision</h1>
        <p>
            DemTech provides answers to the question of how to modernize the
            democratic process without jeopardizing the fundamental principles on which
            democracies are built. To do so, DemTech focuses on the voting technology
            as a whole, concentrating not only on technology and security, but also on
            questions related to organization, trust, and social choice. To ensure that
            voters' trust that their votes have been cast and counted correctly, we also
            focus on the social, political and cultural implications inherent in the digital
            transformation of the democratic process.
        </p>
    </div>
    <div class="col-lg-6 col md-6">
        <h1><span class="glyphicon glyphicon-signal"></span> Independent research</h1>
        <p>
            DemTech aims to provide decision makers important and invaluable insights
            into how voting technology can&#8212;or cannot&#8212;benefit the electoral process.
            It is important to realize that we do not sell any technology or any technical
            solution. In fact, all our results and findings are public so that anybody&#8212;the
            government, the public, and also the industry&#8212;can benefit from our
            research. In that way we hope to avoid conflict of interest and to increase our
            trustworthiness.
        </p>
        <a class="btn btn-default" href="research.html">
            <span class="glyphicon glyphicon-signal"></span> Read more about our research
        </a>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-12 col md-12">
        <h1><span class="glyphicon glyphicon-globe"></span> The DemTech mission</h1>
        <p>
            Since the year 2000, all but eleven countries have held national elections,
            and many of these countries used, or at least experimented with, information
            technology to assist the electoral process. Some held binding internet
            elections; others decided to continue to conduct elections the traditional way.
            The experiences collected during these elections, in particular, advantages,
            disadvantages, requirements, evaluations and risk analyses, are of interests to
            the international community. DemTech strives to help design, evaluate, learn
            from, and evolve these experiments and contribute with insights regarding the
            difficult technological questions related to the secrecy, security, and integrity
            of the election in the greater societal context. DemTech brings together
            internationally leading experts on voting technology and elections. Our
            international research staff collaborates, communicates, and consults with
            governments, administrations, industries and academics worldwide.
        </p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <h1><span class="glyphicon glyphicon-play"></span> Showcase: The Danish Project</h1>
        <p>
            The first DemTech research project started July 2011 and runs until June 2016.
            As part of the project we develop a novel software design principle called "<i>Trust
            by Design</i>" which gives developers a means by which to develop trustworthy
            technologies that people rely on from the traditional voting process.
            The hypothesis of this research project is the following: Is it possible to
            modernize the electoral process while balancing the trust of the people on the
            trustworthiness of the deployed technology?
        </p>
        <p>
            The DemTech project is based at the IT University of Copenhagen, has staff
            at the Technical University of Denmark, and has partnered with research
            institutions in Luxembourg and Switzerland and local Danish governments.
            DemTech's external advisory board monitors DemTech's research activities.
            Furthermore, DemTech collaborates with the Danish Ministry for Economic and
            Interior Affairs on questions related to the modernization of the Danish electoral
            process.
        </p>
        <p>
            Total Budget: &euro; 4.4 mill including &euro; 2 mill from the Danish Strategic Research Council.
        </p>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="thumbnail">
            <img src="../img/christiansborg.jpg" alt="560x315" title="The Danish Parliament building">
            <div class="caption">
                <a href="http://www.thedanishparliament.dk/" title="The Danish parliament, Christiansborg">
                    The Danish parliament</a>. In the Danish project DemTech collaborated with the ministry of
                economics and the interior among others.
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-12 col md-12">
        <h1><span class="glyphicon glyphicon-comment"></span> Activities</h1>
        <p>
            DemTech is involved in a number of projects giving counsel and making contributions on a
            neutral and scientific basis. Both to the scientific field and the public decision process and
            debate. The cases displayed below are examples on processes in which DemTech has been involved
            in some extend.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col md-6">
        <h2>Danish law proposal on e-elections</h2>
        <p>
            In 2012 the Danish parliament treated a law proposal to start trials on electronic voting. The
            proposal was much debated in the media and DemTech was cited many places in Denmark
            (<a href="http://www.version2.dk/sog/DemTech" title="Version2 articles on DemTech">Version2</a>,
            <a href="http://jyllands-posten.dk/arkiv/?q=DemTech" title="Articles on DemTech from Jyllands-Posten">Jyllands-Posten</a>,
            <a href="http://www.information.dk/nyhedsblog/450211" title="Articles on DemTech from Information">Information</a>,
            <a href="http://www.b.dk/nationalt/klik-dig-til-en-ny-borgmester" title="Articles on DemTech from Berlingske">Berlingske</a>).
        </p>
        <p>
            On a political level DemTech engaged in a public collaboration with the ministry for economics and
            the interior to provide expert advise to the decision makers and officials. Additionally DemTech
            submitted an official response to the law (see below).
        </p>
        <p>
            In the process DemTech took care to only convey knowledge based in research so the decision makers
            could take the most informed decision possible.
        </p>
        <a class="btn btn-default" title="The public response to the law proposal in Danish" href="../papers/DemTech_Law_Response.pdf">
            <span class="glyphicon glyphicon-file"></span> Read the law proposal in Danish
        </a>&nbsp;&nbsp;
        <a class="btn btn-default" title="The public response to the law proposal in Danish" href="../papers/DemTech_Law_Response_English.pdf">
            <span class="glyphicon glyphicon-file"></span> Read the law proposal in English
        </a>
    </div>
    <div class="col-lg-6 col md-6">
        <h2>Borgerservice</h2>
        <p>
            Line Danielsen ...
        </p>
    </div>
</div>