<div ng-include="'partials/stakeholder_nav.html'"></div>

<h1 class="text-center"><span class="glyphicon glyphicon-signal"></span> For academia</h1>

<div class="row well well-lg">
    <p>
        The DemTech project is anchored in academia to provide unbiased and constructive input to both
        the research community and other interested. Since the area of democratic technology spans
        over so many academic traditions, DemTech have employed researchers within many different fields, ranging
        from social to natural sciences.
    </p>
</div>

<br>

<div class="row">
    <div class="col-lg-6 col-md-12">
        <h2><span class="glyphicon glyphicon-transfer"></span> How to collaborate</h2>
        <p>
            DemTech contributes regularly to the academic society by publishing articles and participating in
            conferences around the globe.
            Since DemTech from time to time is participating in projects with governments or other
            organisations we have several researchers working on specific items which could be
            interesting for other researchers or research groups. These items can be found at the
            <a href="#/research" title="Research page">research page</a>.
        </p>
        <p>
            As a research group DemTech is lead by
            <a href="#/people/carsten" title="Carsten Schürmann">Carsten Schürmann</a>. The research is mainly
            focused on two areas:
            <a href="#/researchareas#votingtechnology" title="Voting technology">Voting technology</a> and
            <a href="#/researchareas#sociotechnological" title="Socio-technological studies">Socio-technological studies</a>.
        </p>
        <a href="#/research" class="btn btn-primary" title="Research page">
            <span class="glyphicon glyphicon-signal"></span> Read more about the research of DemTech
        </a>

        <h3><span class="glyphicon glyphicon-envelope"></span> Getting in touch</h3>
        <p>
            If you have questions or are interested in knowing more about our research and research areas,
            please write to Carsten at
            <a href="mailto:carsten@demtech.dk" title="carsten@demtech.dk">carsten@temtech.dk</a>.
            If you wish to contact one or more researchers within a
            specific area, please refer to the list of researchers and research areas at the
            <a href="#/research#researchers" title="List of researchers">research page</a>.
        </p>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="thumbnail">
            <img src="../img/book_pen.jpg" alt="">
        </div>
    </div>
</div>

<br><hr>

<h1><span class="glyphicon glyphicon-signal"></span> Articles</h1>

<div class="row">

    <div class="col-lg-6 col-md-12">
        <h3>Electronic Elections: Trust Through Engineering</h3>
        <p>

        </p>
        <a class="btn btn-primary" href="#">Read more</a>
    </div>
    <div class="col-lg-6 col-md-12">
        <h3>Something else industry related</h3>
        <p>Bl.a. Bl.a.</p>
        <a class="btn btn-primary" href="#">Read more</a>
    </div>
</div>