<div class="row">
    <div class="col-lg-12 col-md-12">
        <h1><span class="glyphicon glyphicon-send"></span> Contact</h1>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6 col-sm-6">

        <h2><span class="glyphicon glyphicon-bullhorn"></span> Press and media</h2>
        <p>
            For expert opinions on current matters, please get in touch with public-relations by email
            <a href="mailto:pr@demtech.dk" title="pr@demtech.dk">pr@demtech.dk</a> or by telephone +45 XX XX XX XX.
        </p>
        <p>
            For inquiries to research led by DemTech the relevant researcher can be found at our
            <a href="#/research#researchers" title="List of researchers">list of researchers</a>.
        </p>
    </div>
    <div class="col-md-6 col-sm-6">
        <h2><span class="glyphicon glyphicon-refresh"></span> Research and partners</h2>
        <p>
            If you are a partner to DemTech or wish to contact DemTech concerning possible partnership, please write
            to <a href="mailto:carsten@demtech.dk" title="carsten@demtech.dk">carsten@demtech.dk</a>
        </p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2><span class="glyphicon glyphicon-map-marker"></span> Location</h2>
        <p>
            The larger part of researchers in DemTech is located at the
            <a href="http://itu.dk" title="Homepage of the IT-University of Copenhagen">IT-University of Copenhagen</a>.
        </p>
        <p>
            For a list of associated researchers on other locations, please refer to our
            <a href="#/research#researchers" title="List of researchers">list of researchers</a>.
        </p>
        <address>
            IT-University of Copenhagen<br>
            Rued Langgaards Vej 7<br>
            2300 Copenhagen S <br>
            Denmark
        </address>
        <a class="btn btn-primary" title="View a more detailed map"
           href="https://mapsengine.google.com/map/edit?mid=zJ77fZ1i9nQE.kIZV9nthYSNg">
            <span class="glyphicon glyphicon-map-marker"></span> View a more detailed map</a>
    </div>
    <div class="col-md-6 col-sm-12">
        <br><br>
        <div style="width:425px;height:350px"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Rued%2BLanggaards%2BVej%2B7(ITU)&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe><br><table width="425" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Rued%2BLanggaards%2BVej%2B7(ITU)&ie=UTF8&z=12&t=m&iwloc=near">View Larger Map</a></small></td><td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td></tr></table></div>
    </div>
</div>