<div ng-include="'partials/stakeholder_nav.html'"></div>

<h1 id="about" class="text-center">
    <span class="glyphicon glyphicon-info-sign"></span> About DemTech
</h1>

<div class="row well well-lg">
    <div class="col-md-7 col-sm-12 text-right">
        <p>
            Computers are gradually replacing the manual parts of the electoral
            process. However, software systems are complex, prone to programming error, and
            are vulnerable to malicious attacks. If not addressed early, <em>these problems will
            have a negative effect on the very foundations of democracy</em>.
        </p>
        <br>
        <p>
            DemTech provides answers on how to modernize the
            democratic process without jeopardizing the fundamental principles on which
            democracies are built.
            To do so, DemTech focuses on the voting technology
            as a whole, concentrating not only on technology and security, but also on
            questions related to organization, trust, and social choice.
        </p>
        <br>
        <p>
            DemTech brings together
            internationally leading experts on voting technology and elections. Our
            international research staff collaborates, communicates, and consults with
            governments, administrations, industries and academics worldwide.
        </p>
        <br>
        <a class="btn btn-default btn-block" href="#/about">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Read more about DemTech
        </a>

    </div>
    <div class="col-md-5 col-sm-12 hidden-xs">
        <img src="../img/cross_pixel.png" class="img-thumbnail pull-left">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2><span class="glyphicon glyphicon-globe"></span> News</h2>

        <div class="well well-sm">
            <h3>DemTech in Norway</h3>
            <small class="text-info">23. September 2013</small>
            <p>
                Carsten Sch&#252;rmann, Randi Markussen and Lorena Ronquillo were present when online votes were
                decrypted and counted for Norwegian Parliamentary Election.
            </p>
        </div>

        <div class="well well-sm">
            <h3>Talk by Ian Brightwell</h3>
            <small class="text-info">12. September 2013</small>
            <p>
                <em>"Why is Internet Voting a Governance Project and not a Technology Project?"</em>
                <br>
                Ian Brightwell, the Director IT and CIO of New South Wales Electoral Commission in Australia,
                will give a guest talk on internet voting as a governance project. The talk will take place
                at the IT-University of Copenhagen the 12. September at 10:30, room 4A54.
            </p>
        </div>
        <hr>
        <a href="#/news" class="btn btn-block btn-default" title="Visit the news archive">
            <span class="glyphicon glyphicon-globe"></span> Read more news</a>
    </div>
    <div class="col-md-6 col-sm-12">
        <h2><span class="glyphicon glyphicon-phone"></span> DemTech on Twitter</h2>
        <a class="twitter-timeline" href="https://twitter.com/DemTechDK" data-widget-id="383146153966989312">Tweets by @DemTechDK</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>