<div class="masthead">
    <ul class="nav nav-justified">
        <li><a href="#/industry"><span class="glyphicon glyphicon-briefcase"></span> For industries</a></li>
        <li class="active"><a href="#/government"><span class="glyphicon glyphicon-globe"></span> For governments</a></li>
        <li><a href="#/ngo"><span class="glyphicon glyphicon-bullhorn"></span> For <abbr title="Non-governmental organisation">NGO</abbr>s</a></li>
        <li><a href="#/academia"><span class="glyphicon glyphicon-signal"></span> For academia</a></li>
    </ul>
</div>