<div ng-include="'partials/stakeholder_nav.html'"></div>

<h1 class="text-center"><span class="glyphicon glyphicon-globe"></span> For governments</h1>

<div class="row well well-lg">
    <p>
        Since governments and officials facilitates the entire democratic process, the importance of living up to
        demands from both legislation and universal democratic traditions, are critical for the public stakeholders.
        But besides formal requirements, a widespread trust in the democratic processes is paramount to
        ensure successful and valid elections. The research question of DemTech is concerned with this very matter;
        how to secure the social mechanisms of trust while creating processes with IT that can live up to
        the&ndash;almost unprecedented&ndash;high expectations.
    </p>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12">
        <h2><span class="glyphicon glyphicon-transfer"></span> How to collaborate</h2>
        <p>
            The research of DemTech is publicly available, meaning that any governmental institution, official or even
            citizen, are welcome to benefit from it. Apart from the published research DemTech have been involved with
            several governmental initiatives on digitalising different democratic processes (see the link to the
            Danish project or the cases below).
        </p>
        <p>
            DemTech is an independent and impartial research group that focuses on bringing trustworthy technology
            to life. Because of the experiences in DemTech the governmental institutions benefits from neutral
            advise and proven technologies, while DemTech continues to explore the research question and draw
            on the experiences from the ministry. In the case of the Danish project for instance, DemTech and the
            Danish Ministry of the Interior signed a contract defining a framework for future cooperation.
        </p>
        <a href="#/about#showcase" class="btn btn-primary" title="A showcase on the Danish project">
            <span class="glyphicon glyphicon-play"></span> Read a showcase on the Danish project
        </a>
        <h3><span class="glyphicon glyphicon-envelope"></span> Getting in touch</h3>
        <p>
            If you have any questions or wishes to get in touch to know more, please email us at
            <a href="mailto:carsten@demtech.dk" title="carsten@demtech.dk">carsten@demtech.dk</a>, or contact us via
            telephone at +45 XX XX XX XX. If you wish to contact one or more researchers within a specific
            area, please refer to the list of researchers and research areas at the
            <a href="#/research#researchers" title="List of researchers">research page</a>.
        </p>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="thumbnail">
            <img src="../img/pencil_vote.jpg" alt="">
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2><span class="glyphicon glyphicon-globe"></span> News</h2>

        <div class="well well-sm">
            <h3>DemTech to observe Danish election</h3>
            <small class="text-info">29. October 2013</small>
            <p>
                For the municipality election in the beginning of November 2013 DemTech researchers will be posted
                in different electorates to observe the behaviour of the voters.
            </p>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">

    </div>
</div>