<div class="masthead">
    <ul class="nav nav-justified">
        <li class="active"><a href="#/industry"><span class="glyphicon glyphicon-briefcase"></span> For industries</a></li>
        <li><a href="#/government"><span class="glyphicon glyphicon-globe"></span> For governments</a></li>
        <li><a href="#/ngo"><span class="glyphicon glyphicon-bullhorn"></span> For <abbr title="Non-governmental organisation">NGO</abbr>s</a></li>
        <li><a href="#/academia"><span class="glyphicon glyphicon-signal"></span> For academia</a></li>
    </ul>
</div>

<h1><span class="glyphicon glyphicon-briefcase"></span> For industry</h1>

<p>
    Governments, NGOs and industry are three very different playing fields on which the new innovations of
    electronic democratic processes are evolving. But one goal is common for every field; Creating trustworthy
    and secure IT. Due to the extensive experience of DemTech and the span of the expertise within the research
    group&ndash;from cryptography and security to social sciences and voter's trust&ndash;DemTech has a
    profound understanding of the many and heterogeneous challenges.
</p>

<br>

<div class="row">
    <div class="col-lg-6 col-md-12">
    <h2><span class="glyphicon glyphicon-transfer"></span> How to collaborate</h2>
    <p>
        Collaboration with DemTech provides an opportunity to tap into the state-of-the-art knowledge from
        newly researched democratic technology and experiences from previous and ongoing projects around the
        globe. At the same time DemTech can gather data from your experiences and use them anonymously in our
        research. Any confidential information will not be disclosed, naturally.
    </p>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="thumbnail">
            <img src="../img/handshake.jpg" alt="">
        </div>
    </div>
</div>

<br>

<div class="row">

    <div class="col-lg-6 col-md-12">
    </div>
    <div class="col-lg-6 col-md-12">
        <h2><span class="glyphicon glyphicon-book"></span> DemTech industry consortium</h2>
        <p>
            DemTech has gathered a number of industry partners in our industrial consortium. Or have they?
        </p>
        <p>Something about how the industry can collaborate with us.</p>
        <a class="btn btn-primary" href="#">Read more</a>
    </div>
</div>

<br><hr>

<h1><span class="glyphicon glyphicon-globe"></span> News</h1>

<div class="row">

    <div class="col-lg-6 col-md-12">
        <h3>Something industry related</h3>
        <p>Bl.a. Bl.a.</p>
        <a class="btn btn-primary" href="#">Read more</a>
    </div>
    <div class="col-lg-6 col-md-12">
        <h3>Something else industry related</h3>
        <p>Bl.a. Bl.a.</p>
        <a class="btn btn-primary" href="#">Read more</a>
    </div>
</div>

<hr>