<div ng-include="'partials/stakeholder_nav.html'"></div>

<h1 class="text-center"><span class="glyphicon glyphicon-briefcase"></span> For industries</h1>

<div class="row well well-lg">
    <p>
        Governments, NGOs, academia and industry are very different players in a field where the new innovations of
        electronic democratic processes are evolving. But one goal is common for the four stakeholders: to create
        trustworthy and secure IT. Due to the extensive experience of DemTech and the span of the expertise within
        the research group&ndash;from cryptography and security to social sciences and the trust of
        voters&ndash;DemTech has a profound understanding of the many and heterogeneous challenges.
    </p>
</div>

<br>

<div class="row">
    <div class="col-lg-6 col-md-12">
        <h2><span class="glyphicon glyphicon-transfer"></span> How to collaborate</h2>
        <p>
            The research of DemTech is publicly available, meaning that the industry in general are welcome to benefit
            from it. DemTech is also very interested in any new experiences and initiatives made from producers of
            technology associated with elections and democratic processes, and would be happy to communicate with such
            producers to exchange ideas and experiences for mutual benefit.
        </p>
        <p>
            However, the research within DemTech is independent of any industrial interests and to protect this
            integrity DemTech cannot participate in any financial projects. Partnerships are thus not an option for us
            and we do not sell exclusive access to information. The researchers in DemTech strive to be as impartial
            as possible and to reply any inquiries from competing producers with detailed but consistent answers.
        </p>
        <h3><span class="glyphicon glyphicon-envelope"></span> Getting in touch</h3>
        <p>
            If you have questions or are interested in knowing more about our practices, please write to us at
            <a href="mailto:pr@demtech.dk" title="pr@demtech.dk">pr@temtech.dk</a> or contact us via telephone at
            +45 XX XX XX XX. If you wish to contact one or more researchers within a specific area, please refer
            to the list of researchers and research areas at the
            <a href="#/research#researchers" title="List of researchers">research page</a>..
        </p>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="thumbnail">
            <img src="../img/handshake.jpg" alt="">
        </div>
    </div>
</div>

<br><hr>

<h1><span class="glyphicon glyphicon-globe"></span> News</h1>

<div class="row">

    <div class="col-lg-6 col-md-12">
        <h3>Something industry related</h3>
        <p>Bl.a. Bl.a.</p>
        <a class="btn btn-primary" href="#">Read more</a>
    </div>
    <div class="col-lg-6 col-md-12">
        <h3>Something else industry related</h3>
        <p>Bl.a. Bl.a.</p>
        <a class="btn btn-primary" href="#">Read more</a>
    </div>
</div>

<hr>