<div ng-include="'partials/stakeholder_nav.html'"></div>

<h1 class="text-center"><span class="glyphicon glyphicon-bullhorn"></span> For NGOs</h1>

<div class="row well well-lg">
    <p>
        From independent research institutes to interest groups, non-governmental organisations play an important
        role in developing and maintaining democratic institutions and practices. It is these roles and processes
        that DemTech is researching and wishes to elaborate. Because of the large amount of experience and knowledge
        within DemTech, any collaboration would be mutually beneficial.
    </p>
</div>

<br>

<div class="row">
    <div class="col-lg-6 col-md-12">
        <h2><span class="glyphicon glyphicon-transfer"></span> How to collaborate</h2>
        <p>
            The research of DemTech is publicly available, meaning that any organisations are welcome to benefit
            from it. Like DemTech, some NGOs works on the grounds of neutrality to bring unbiased contemporary
            research into the public processes, which could be a basis for interesting common footing with the
            DemTech research group.
        </p>
        <p>
            DemTech is in continuous contact with different organisations around the globe (see below) to stay up to
            date with current affairs and research. This knowledge is an important part of the
            work within DemTech, but also a resource to tap into for interested parties.
        </p>
        <p>
            DemTech is an impartial research group that cannot participate in projects of economic
            character. However, it is still very much in the interest of DemTech to exchange information and
            possibly even collaborate to research new technology.
        </p>
        <h3><span class="glyphicon glyphicon-envelope"></span> Getting in touch</h3>
        <p>
            If you have questions or are interested in knowing more about our projects or how your organisation can
            interact with DemTech, please write to us at
            <a href="mailto:pr@demtech.dk" title="pr@demtech.dk">pr@temtech.dk</a> or contact us via telephone at
            +45 XX XX XX XX. If you wish to contact one or more researchers within a specific area, please refer
            to the list of researchers and research areas at the
            <a href="#/research#researchers" title="List of researchers">research page</a>.
        </p>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="thumbnail">
            <img src="../img/word_cloud.jpg" alt="">
        </div>
    </div>
</div>

<br><hr>

<h1><span class="glyphicon glyphicon-bullhorn"></span> NGO collaborators</h1>

<div class="row">

    <div class="col-lg-6 col-md-12">
        <h3>Danish Association of the Blind</h3>
        <p>

        </p>
        <a class="btn btn-primary" href="#">Read more</a>
    </div>
</div>

<hr>