<style>
</style>

<h1 id="user">
    <span class="glyphicon glyphicon-user"></span> People
</h1>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <p>
            DemTech employs many researchers in different fields ranging from cryptography and formal mathematical
            verification to ethnography and sociology.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <img class="profile" src="img/people/schuermann-carsten.jpg">
        <h3>Carsten Schürmann</h3>
        <b>Position</b>: Professor
        <br>
        <b>Research areas</b>: 
        <span class="label label-primary">Computer science</span>
        <br>
        <b>Office</b>: <a href="#/contact#location" title="IT-University of Copenhagen">ITU</a> 4C13
        <br>
        <b>E-mail</b>: <a class href="mailto:carsten@demtech.dk">carsten@demtech.dk</a> 
        <br>
        <b>Phone</b>: (+45) 72 18 52 82
        <br><br>
        <a class="btn btn-default" href="#/people/carsten">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Read more about Carsten
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        
    </div>
    <div class="col-md-4 col-sm-6 well">
        
    </div>
</div>

<hr>
