

<div class="row">
    <div class="col-lg-12 col-md-12">

        <h1><span class="glyphicon glyphicon-signal"></span> Research</h1>
        <p>
            DemTech is a research group located in Denmark and lead by Carsten Sch&#252;rmann.
            DemTech is researching trustworthy electronic technology.
        </p>
        <p>
            The research is focused on two areas:
            <a href="#/researchareas#votingtechnology">Computer Science</a> and
            <a href="#/researchareas#sociotechnological">Socio-Technological</a> studies.
        </p>
    </div>
</div>


<hr>
<h1 id="researchers"><span class="glyphicon glyphicon-user"></span> DemTech staff</h1>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <h2>Carsten Sch&#252;rmann</h2>
        <table>
            <tr><th>Position:</th> <td>Associate professor</td></tr>
            <tr>
                <th>Fields:</th>
                <td>
                    <a class="label label-primary" href="#/researchareas#votingtechnology">Computer Science</a>
                </td>
            </tr>
        </table>
        <p>
            Carsten...
        </p>
        <a class="btn btn-default" href="#">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Read more about Carsten
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h2>Randi Markussen</h2>
        <table>
            <tr><th>Position:</th> <td>Associate professor</td></tr>
            <tr>
                <th>Fields:</th>
                <td>
                    <a class="label label-success" href="#/researchareas#sociotechnological">
                        Socio-Technological studies
                    </a>
                </td>
            </tr>
        </table>
        <p>
            Randi
        </p>
        <a class="btn btn-default" href="#">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Read more about Randi
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <h2>Nicolas Poullard</h2>
        <table>
            <tr><th>Position:</th> <td>Associate professor</td></tr>
            <tr>
                <th>Fields:</th>
                <td>
                    <a class="label label-primary" href="#/researchareas:votingtechnology">Computer Science</a>
                </td>
            </tr>
        </table>
        <p>
            Carsten...
        </p>
        <a class="btn btn-default" href="#">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Read more about Carsten
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h2>Steffen Dalsgaard</h2>
        <table>
            <tr><th>Position:</th> <td>Associate professor</td></tr>
            <tr>
                <th>Fields:</th>
                <td>
                    <a class="label label-success" href="#/researchareas:sociotechnological">
                        Socio-Technological studies
                    </a>
                </td>
            </tr>
        </table>
        <p>
            Randi
        </p>
        <a class="btn btn-default" href="#">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Read more about Randi
        </a>
    </div>
</div>