<div class="row text-center">
    <br>
    <img src="../img/demtech.png" alt="DemTech" title="Democratic Technology">
</div>

<br>

<div class="masthead" id="stakeholder_nav">
    <ul class="nav nav-justified">
        <li ng-class="{active: isActive('/')}"><a href="#/#stakeholder_nav"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li ng-class="{active: isActive('/industry')}"><a href="#/industry#stakeholder_nav"><span class="glyphicon glyphicon-briefcase"></span> For industries</a></li>
        <li ng-class="{active: isActive('/government')}"><a href="#/government#stakeholder_nav"><span class="glyphicon glyphicon-globe"></span> For governments</a></li>
        <li ng-class="{active: isActive('/ngo')}"><a href="#/ngo#stakeholder_nav"><span class="glyphicon glyphicon-bullhorn"></span> For <abbr title="Non-governmental organisation">NGO</abbr>s</a></li>
        <li ng-class="{active: isActive('/academia')}"><a href="#/academia#stakeholder_nav"><span class="glyphicon glyphicon-signal"></span> For academia</a></li>
    </ul>
</div>