<img class="profile" src="/img/people/randi.jpg">
<h3>Randi Markussen</h3>
<b>Position</b>: Professor
<br>
<b>Research areas</b>:
<span class="label label-success">Socio-Technological studies</span>
<br>
<b>Office</b>: <a href="#/contact#location" title="IT-University of Copenhagen">ITU</a> 3B04
<br>
<b>E-mail</b>: <a class href="mailto:randi@demtech.dk">randi@demtech.dk</a>
<br>
<b>Phone</b>: (+45) 72 18 51 60
<br><br>
<a class="btn btn-default" href="#/people/randi">
    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Read more about Randi
</a>